.chart-panel {
  background-color: rgba(35, 17, 77, 0.8);
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
}
.page-content {
  background-color: rgba(51, 22, 97, 0.8);
  border-color: rgba(0, 0, 0, 0);
}

.bg {
  background: linear-gradient(to bottom right, #7749d5, #ff666e);
}

.siemens{
    .font-white, .euiTitle{
        color: #ffffff !important;
    }
}

.author{
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 400;
}